:root{
  --page-background: #EBF5FB ;
  --settings-background: white;
  --jumbotron-background: #16A085;
}
body {background-color: var(--page-background)}

.jumbotron{
  background-color: var(--jumbotron-background);
}

.card{
  background-color: var(--settings-background);
}

.button{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px;
}

.spinner-border{
  width: 150px;
  height: 150px;
}

#mapid {
  height: 400px;
  width: 300px;
}